<%= form_with(model: hueco, local: true) do |form| %>
  <% if hueco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hueco.errors.count, "error") %> prohibited this hueco from being saved:</h2>

      <ul>
      <% hueco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :localidad %>
    <%= form.text_field :localidad %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="field">
    <%= form.label :tamanio %>
    <%= form.text_field :tamanio %>
  </div>

  <div class="field">
    <%= form.label :ranking %>
    <%= form.number_field :ranking %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
